.vscode/settings.json
/Users/inwon/Desktop/python_workspace/Python/pygame_basic/background.jpeg
/Users/inwon/Desktop/python_workspace/Python/pygame_basic/character_b.png
/Users/inwon/Desktop/python_workspace/Python/pygame_basic/character.png
/Users/inwon/Desktop/python_workspace/Python/pygame_basic/pikachu.png
/Users/inwon/Desktop/python_workspace/Python/pygame_basic/pikachu2.png